table th {
  @apply text-left font-normal px-5 py-3
}

table th:first-child {
  @apply rounded-l
}

table th:last-child {
  @apply rounded-r
}

table tr {
  @apply shadow-md md:shadow shadow-gray-200
}

table td {
  @apply block md:table-cell bg-white text-xs md:text-base text-right md:text-left border-b md:border-0 font-normal px-4 py-3
}

table td:first-child {
  @apply rounded-t-md md:rounded-r
}

table td:last-child {
  @apply border-0 rounded-b-md md:rounded-r
}

/* md breakppoint */
@media screen and (max-width: 768px) {

  /* hide table head */
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
