@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323A46;
  background-color: #F5F6FA;
}

/* === Fade transition === */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* === Sidebar slide transition === */
.sidebar-slide-enter {
  margin-left: -26rem;
}

.sidebar-slide-enter-active {
  margin-left: 0;
  transition: 300ms;
}

.sidebar-slide-exit {
  margin-left: 0;
}

.sidebar-slide-exit-active {
  margin-left: -26rem;
  transition: 300ms;
}
